body{
	color: white;
	margin: 0;
	text-align: center;
	background-color: black;
	font-family: "Open Sans";

}

body h1{
	position: relative;
	top: 10vh;
	font-size: 4em;
	
}

body p{
	position: relative;
	top: 10vh;
	font-size: 2em;
	margin: 0;
}

#firstPage img{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}

#firstPage h1{
	position: relative;
	left: 7vw;
	text-align: left;
	margin: 0;
	top: 70vh;
	font-size: 4em;
	z-index: 1;

}

#underBox{
	position: relative;
	background-color: black;
	opacity: 0.4;
	height: 25vh;
	width: 50vw;
	left: -20vw;
	top: 50vh;
	display: inline-block;
}

section {
	
	height: 100vh;	

}

li{
	cursor:pointer;}

#championshipPage ul{
	position: relative;
	top: 10vh;
	left: 5vw;
	text-align: left;
	font-size: 2em;
}
#championshipPage li{
	padding: 1vh;
}

#aTeamInfo, #bestTeamInfo, #team1Info{
	display: none;
	background-color: black; 
	position: relative;
	/*left: 50vw;*/
	top: 10vh;
	border: 2px solid white;
	height: 60vh;
}

.player-text-1{
	left: 13vw;
	font-size: 1em;
	top: 3vh;
	text-align: left;
	right: 1vw;
}

.player-text-2{
	left: 13vw;
	font-size: 1em;
	top: 22vh;
	text-align: left;
}

#bestTeamInfo{
		display: none;
}

#team1Info{
		display: none;
}

#teamInfo{
	position: relative;
}

#teamInfo h2{
	display: inline;
}

#teamInfo .prof-pic1{
	position: absolute;
	left: 2vw;
	top: 6vh;
	/*height: calc(50vh*0.8);*/

}

#teamInfo .prof-pic2{
	position: absolute;
	left: 2vw;
	top: 27vh;
}


#latestMatchesPage{

}

#signUpPage{

}

#aboutUsPage{

}

#contactPage{

}
